body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .button-container {
    text-align: center;
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .fancy-button {
    padding: 15px 30px;
    width:200px;
    font-size: 18px;
    color: #fff;
    background-color: #6200ea;
    border: 2px solid #6200ea;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .fancy-button::after, .fancy-button::before {
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 10px;
    padding:5px;
    animation: 3s spin linear infinite;
  }
  
  .fancy-button::before {
    filter: blur(1rem);
    opacity: 0.5;
  }
  
  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  